<% layout('layouts/boilerplate') %> 
<div class="row container">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h5 class="alert-heading"><%= err.message %> </h5>
            <hr>
            <% if (process.env.NODE_ENV !== 'production') { %> 
            <p><%= err.statusCode %> </p>
            <% } %> 
        </div>
    </div>
</div>